<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.AlertRuleMapper">

    <!-- 获取报警配置分页列表 -->
    <select id="getAlertRulePage" resultType="com.youlai.boot.system.model.vo.AlertRuleVO">
        SELECT
        ar.id,
        ar.rule_name,
        ar.level,
        ar.min_value,
        ar.max_value,
        ar.metric_key,
        ar.compare_type,
        ar.threshold_value,
        ar.time_window,
        ar.consecutive_count,
        ar.remark,
        ar.create_time,
        ar.create_by,
        ar.update_time,
        ar.update_by,
        ar.device_id,
        d.device_name
        FROM
        alert_rule ar
        LEFT JOIN device d ON ar.device_id = d.id
        <where>
            <if test="queryParams.ruleName != null and queryParams.ruleName != ''">
                AND ar.rule_name LIKE CONCAT('%', #{queryParams.ruleName}, '%')
            </if>
            <if test="queryParams.deviceId != null">
                AND ar.device_id = #{queryParams.deviceId}
            </if>
            <if test="queryParams.level != null">
                AND ar.level = #{queryParams.level}
            </if>
        </where>
    </select>

</mapper>
