<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.deviceJob.mapper.DeviceJobLogMapper">

    <!-- 获取任务日志分页列表 -->
    <select id="getDeviceJobLogPage" resultType="com.youlai.boot.deviceJob.model.vo.DeviceJobLogVO">
        SELECT
                id,
                device_id,
                device_name,
                job_name,
                job_group,
                job_message,
                status,
                exception_info,
                start_time,
                stop_time
        FROM
            device_job_log
        <where>
            <if test="queryParams.deviceName != null and queryParams.deviceName != ''">
                AND device_name LIKE CONCAT('%', #{queryParams.deviceName}, '%')
            </if>
            <if test="queryParams.jobName != null and queryParams.jobName != ''">
                AND job_name LIKE CONCAT('%', #{queryParams.jobName}, '%')
            </if>
            <if test="queryParams.status != null">
                AND status = #{queryParams.status}
            </if>
        </where>
        ORDER BY start_time DESC
    </select>

</mapper>
