<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.floor.mapper.FloorMapper">

    <!-- 获取楼层管理分页列表 -->
    <!-- 获取楼层管理分页列表 -->
    <select id="getFloorPage" resultType="com.youlai.boot.floor.model.vo.FloorVO">
        SELECT
        f.id,
        f.building_id,
        f.floor_number,
        f.remark,
        f.create_time,
        f.create_by,
        f.update_time,
        f.update_by,
        f.is_deleted,
        b.building_name  <!-- 新增字段 -->
        FROM
        floor f
        LEFT JOIN building b ON f.building_id = b.id  AND b.is_deleted = 0<!-- 关联 building 表 -->
        <where>
            AND f.is_deleted = 0
            <if test="queryParams.floorNumber != null">
                AND f.floor_number LIKE CONCAT('%', #{queryParams.floorNumber}, '%')
            </if>
            <if test="queryParams.buildingId != null">
                AND f.building_id = #{queryParams.buildingId}
            </if>
        </where>
    </select>


</mapper>
