<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.scene.mapper.RuleScriptMapper">

    <!-- 获取规则引擎脚本分页列表 -->
    <select id="getRuleScriptPage" resultType="com.youlai.boot.scene.model.vo.RuleScriptVO">
        SELECT
                id,
                category_id,
                category_name,
                scene_id,
                script_name,
                script_data,
                application_name,
                script_type,
                script_event,
                script_action,
                script_purpose,
                script_order,
                script_language,
                enable,
                create_by,
                create_time,
                update_by,
                update_time,
                remark
        FROM
            rule_script
        <where>
        </where>
    </select>

</mapper>
