<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.scene.mapper.SceneScriptMapper">

    <!-- 获取场景脚本分页列表 -->
    <select id="getSceneScriptPage" resultType="com.youlai.boot.scene.model.vo.SceneScriptVO">
        SELECT
                id,
                scene_id,
                job_id,
                source,
                script_purpose,
                operator,
                type,
                device_count,
                cron,
                is_advance,
                array_index,
                array_index_name,
                category_id,
                category_name,
                remark,
                create_time,
                create_by,
                update_time,
                update_by
        FROM
            scene_script
        <where>
        </where>
    </select>

</mapper>
