<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.building.mapper.BuildingMapper">

    <!-- 获取教学楼管理分页列表 -->
    <select id="getBuildingPage" resultType="com.youlai.boot.building.model.vo.BuildingVO">
        SELECT
        b.id,
        b.building_code,
        b.building_name,
        b.status,
        b.remark,
        COUNT(DISTINCT f.id) AS floorCount,
        COUNT(DISTINCT r.id) AS roomCount,
        COUNT(DISTINCT d.id) AS deviceCount
        FROM
        building b
        LEFT JOIN floor f ON f.building_id = b.id AND f.is_deleted = 0
        LEFT JOIN room r ON r.building_id = b.id AND r.is_deleted = 0
        LEFT JOIN device d ON d.device_room = r.id AND d.is_deleted = 0
        <where>
            b.is_deleted = 0
            <if test="queryParams.buildingCode != null and queryParams.buildingCode != ''">
                AND building_code LIKE CONCAT('%', #{queryParams.buildingCode}, '%')
            </if>
            <if test="queryParams.buildingName != null and queryParams.buildingName != ''">
                AND building_name LIKE CONCAT('%', #{queryParams.buildingName}, '%')
            </if>
            <if test="queryParams.status != null">
                AND status = #{queryParams.status}
            </if>
        </where>
        GROUP BY b.id
    </select>

</mapper>
