<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.alertEvent.mapper.AlertEventMapper">

    <!-- 获取报警记录分页列表 -->
    <select id="getAlertEventPage" resultType="com.youlai.boot.alertEvent.model.vo.AlertEventVO">
        SELECT
        ae.id,
        ae.rule_id,
        ae.create_time,
        ae.create_by,
        ae.device_id,
        d.device_name,
        ae.metric_key,
        ae.current_value,
        ae.alarm_content,
        ae.level,
        ae.status
        FROM
        alert_event ae
        LEFT JOIN device d ON ae.device_id = d.id
        <where>
            <if test="queryParams.deviceId != null">
                AND ae.device_id = #{queryParams.deviceId}
            </if>
            <if test="queryParams.level != null">
                AND ae.level = #{queryParams.level}
            </if>
            <if test="queryParams.status != null and queryParams.status != ''">
                AND ae.status = #{queryParams.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
