<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.room.mapper.RoomMapper">

    <!-- 获取房间管理分页列表 -->
    <select id="getRoomPage" resultType="com.youlai.boot.room.model.vo.RoomVO">
        SELECT
        r.id,
        r.floor_id,
        r.building_id,
        r.classroom_code,
        r.remark,
        b.building_name AS buildingName,
        f.floor_number AS floorName
        FROM
        room r
        LEFT JOIN building b ON r.building_id = b.id AND b.is_deleted = 0
        LEFT JOIN floor f ON r.floor_id = f.id AND f.is_deleted = 0
        <where>
            AND r.is_deleted = 0
            <!-- 楼宇ID条件 -->
            <if test="queryParams.buildingId != null">
                AND r.building_id = #{queryParams.buildingId}
            </if>
            <!-- 楼层ID条件 -->
            <if test="queryParams.floorId != null">
                AND r.floor_id = #{queryParams.floorId}
            </if>
            <!-- 房间号模糊查询 -->
            <if test="queryParams.classroomCode != null and queryParams.classroomCode != ''">
                AND r.classroom_code LIKE CONCAT('%', #{queryParams.classroomCode}, '%')
            </if>
        </where>
    </select>

</mapper>
