<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.device.mapper.DeviceMapper">

    <!-- 在 DeviceMapper.xml 中定义 resultMap -->
    <resultMap id="DeviceVOResultMap" type="com.youlai.boot.device.model.vo.DeviceVO">
        <id column="id" property="id"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_code" property="deviceCode"/>
        <result column="device_room" property="deviceRoom"/>
        <result column="device_mac" property="deviceMac"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="device_no" property="deviceNo"/>
        <result column="device_type_id" property="deviceTypeId"/>
        <result column="device_info" property="deviceInfo" typeHandler="com.youlai.boot.config.handler.JsonTypeHandler"/>
        <result column="device_type" property="deviceType"/>
        <result column="communicationModeItemName" property="communicationModeItemName"/>
        <result column="communicationModeItemId" property="communicationModeItemId"/>
        <result column="roomName" property="roomName"/>
        <result column="category_id" property="categoryId"/>
        <result column="categoryName" property="categoryName"/>
    </resultMap>

    <!-- 修改查询使用 resultMap -->
    <select id="getDevicePage" resultMap="DeviceVOResultMap">
        SELECT
        d.id,
        d.device_name,
        d.device_code,
        d.device_room,
        d.device_mac,
        d.status,
        d.remark,
        d.device_no,
        d.device_type_id,
        d.icon,
        d.device_info,
        dt.device_type,
        d.is_master,
        cmi.label AS communicationModeItemName,
        cmi.value AS communicationModeItemId,
        r.classroom_code AS roomName,
        d.category_id,
        c.category_name AS categoryName
        FROM
        device d
        LEFT JOIN device_type dt ON d.device_type_id = dt.id
        LEFT JOIN sys_dict_item cmi ON d.communication_mode_item_id = cmi.value
        AND cmi.dict_code = 'communication_mode'
        LEFT JOIN room r ON d.device_room = r.id
        LEFT JOIN category c ON d.category_id = c.id
        <where>
            AND d.is_deleted = 0
            <if test="queryParams.id != null and queryParams.id != ''">
                AND d.id = #{queryParams.id}
            </if>
            <if test="queryParams.deviceName != null and queryParams.deviceName != ''">
                AND device_name LIKE CONCAT('%', #{queryParams.deviceName}, '%')
            </if>
            <if test="queryParams.deviceNo != null and queryParams.deviceNo != ''">
                AND device_no LIKE CONCAT('%', #{queryParams.deviceNo}, '%')
            </if>
            <!-- 修改为支持roomIds字符串查询 -->
            <if test="queryParams.roomIds != null and queryParams.roomIds != ''">
                AND d.device_room IN
                <foreach collection="queryParams.roomIds.split(',')" item="roomId"
                         open="(" separator="," close=")">
                    #{roomId}
                </foreach>
            </if>
            <if test="queryParams.deviceMac != null and queryParams.deviceMac != ''">
                AND device_gateway_id = #{queryParams.deviceMac}
            </if>
            <if test="queryParams.communicationModeItemId != null and queryParams.communicationModeItemId != ''">
                AND communication_mode_item_id = #{queryParams.communicationModeItemId}
            </if>
            <if test="queryParams.deviceTypeIds != null and queryParams.deviceTypeIds != ''">
                AND d.device_type_id IN
                <foreach collection="queryParams.deviceTypeIds.split(',')" item="deviceTypeId"
                         open="(" separator="," close=")">
                    #{deviceTypeId}
                </foreach>
            </if>
            <!-- 新增网关显示控制 -->
            <if test="queryParams.showGateway != null and !queryParams.showGateway">
                AND (d.device_type_id != 1 OR d.device_type_id IS NULL)
            </if>
        </where>
    </select>

    <select id="getSubDevicePage" resultType="com.youlai.boot.device.model.vo.DeviceVO">
        SELECT
        d.id,
        d.device_name,
        d.device_code,
        d.device_room,
        d.device_mac,
        d.status,
        d.remark,
        d.device_no,
        d.device_type_id AS deviceTypeId,
        dt.device_type,
        cmi.label AS communicationModeItemName,
        cmi.value AS communicationModeItemId,
        r.classroom_code AS roomName,
        cdr.category_id,
        c.category_name AS categoryName
        FROM
        device d
        LEFT JOIN device_type dt ON d.device_type_id = dt.id
        LEFT JOIN sys_dict_item cmi ON d.communication_mode_item_id = cmi.value
        AND cmi.dict_code = 'communication_mode'
        LEFT JOIN room r ON d.device_room = r.id
        LEFT JOIN category_device_relationship cdr ON d.id = cdr.device_id
        LEFT JOIN category c ON cdr.category_id = c.id
        <where>
            AND d.is_deleted = 0
            <if test="queryParams.id != null and queryParams.id != ''">
                AND device_gateway_id = #{queryParams.id}
            </if>
        </where>
    </select>
</mapper>
